body {
	background-color: #fbfbfb;
	font-family: sf pro display, helvetica neue, helvetica, san-serif;
	margin: auto;
	width: 65%;
}
h1 {
	color: black;
	font-weight: normal;
}
h1 .mainhead{
	font-weight: bold;
}
h2 {
	margin: 15px;
	color: #222222;
	font-weight: normal;
}

p {
	padding: 15px;
	margin: 15px;
	color: #333333;
}
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	font-style: normal;
	background-color: #eeeeee;
}
th, td {
	padding: 5px;
}
a { 
}

.topnav {
    //background-color: #f0f0f0;
	border-bottom: 1px solid;
	border-color: #e0e0e0;
    overflow: hidden;
}
.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #bbbbbb;
    color: black;
}
.topnav a.active {
    //background-color: #ffd700;
    background-color: #000000;
    color: white;
}
.figure {
	border: 1px black solid;
	margin: 10px;
	width: 30%;
}
.code {
	background-color: #f0f0f0;
	font-family: monospace;
}
